flask==3.0.3
flask-cors==5.0.0
google-analytics-data==0.18.12
google-api-python-client==2.149.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
protobuf==5.28.3
grpcio==1.68.1
grpcio-status==1.68.1
requests==2.32.3
urllib3==2.2.3
six==1.16.0